*{
    font-family: 'Poppins';
}

:root{
    --display-1: 58px;
    --h1: 48px;
    --h2: 36px;
    --h3: 28px; 
    --h4: 22px;
    --h5: 20px;
    --bd-lg: 24px;
    --bd-sm: 22px;
    --ft: 18px;

    /* Color board */
    --primary: #373A6B;
    --accent: #656896;
    --light-accent: #A3A5C2;
    --bg: #BABDEB;
    --lg-bg: #fff;
    --white-text: #fff;

    --hover: #E01316;
    
    /* Text & font */
    --fw400: 400;
    --fw600: 600;

    /* shadow outset and inset */
    --in-sd: 0 5px 10px rgba(0, 0, 0, 0.499);
    --out-sd:  0 4px 10px rgba(0, 0, 0, 0.499);
}

body{
    background-color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter';
}
header{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: var(--out-sd);
    .header-wrap{
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{

        }
        .nav{
            display: flex;
            gap: 45px;
            a {
                text-decoration: none;
                color: var(--white-text);
                font-size: var(--h5);
            }
            a:hover{
                color: var(--hover); /*wtf is this shet */
            }
        }
    }
}